html body {
    background-color: rgba(0, 0, 0, 0.9);
    color: #ddd;
    align-items: center !important;

}

/* Profile */
.profileInfo {
    font-size: 40px;
    font-family: Verdana;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

#nameDisplay {
    padding-top: 1vh;
}

/* Cards */
.cardTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 16px;
}

#links {
    padding-left: 10px;
    padding-right: 10px;
}

img {
    padding: 20px;
}

/* Form */
#divForm {
    margin-top: 5vh;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.list-group-item {
    padding: 0 !important;
}

.form-control.col.injectedForm {
    margin-top: 1vh;
}

#newEntry {
    margin-top: 1vh;

}

/* QR generator */

#qrcode {
    width: 1px;
    height: 1px;
    padding-top: 20px;
    padding-bottom: 500px;
    text-align: center;
}

.qr-url,
.qr-size {
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.qr-url {
    width: 79%;
}

.qr-size {
    width: 20%;
}

button.generate-qr-code {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 2vh;
    width: 40vw;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    background-color: #e5554e;
    color: #fff;
}

img.qr-img.copyable {
    max-width: 80vw;
    max-height: 80vw;
}